.dashboard {
    &__info-panels {
        height: 25vh;
        display: flex;
        padding: 0 15px;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }

    &__panel {
        height: 22vh;
        flex: 1;
        border-radius: 8px;
        background-color: $backgroundColor;
        border: 1px solid $primaryGreyColor;
    }
}