.products-tab {
    &__content {
        padding: 12px 0;
        // margin-top: 12px;
        height: 37vh;
        overflow-y: scroll;
        overflow-x: hidden;

        &-empty {
            padding: 10px;
            width: 70%;
            height: 150px;
            border-radius: 8px;
            background-color:rgb(236, 236, 236);
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px auto 0;
            color: rgb(189, 189, 189);
        }
    }
}