$primaryColor: #3147f5;
$secondaryColor: #fff;

$backgroundColor: #fff;

$primaryTextColor: #4d4d4d;
$secondaryTextColor: #6a6a6a;

$primaryGreyColor: rgb(211, 211, 211);
$secondaryGreyColor: rgb(141, 141, 141);
